/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

resources/public/uploads/
!resources/public/uploads/.gitkeep
resources/public/javascripts/
out/
resources/public/js/
.rebel_readline_history

